<div class="page-header">
  <h3>Verybest #<%= @verybest.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @verybest.user.present? %>
          <a href="/users/<%= @verybest.user_id %>">
            <%= @verybest.user.name %>
          </a>
        <% end %>
      </dd>

      <dt>Foodvenue</dt>
      <dd>
        <% if @verybest.foodvenue.present? %>
          <a href="/foodvenues/<%= @verybest.foodvenue_id %>">
            <%= @verybest.foodvenue.food_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/verybests" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @verybest.user %>
        <a href="/verybests/<%= @verybest.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_verybest/<%= @verybest.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
